{% extends 'base.html' %}

{% block head %}
    <title>Scout Helper</title>
{% endblock %}

{% block body %}
    <div class="grid | justify-center">  <!-- wrapper -->
        <div class="bg-lime-100 | w-[80vw] md:w-[60vw] lg:w-[55vw] xl:w-[50vw]">
            <img src="../src/separator2.svg" alt="">
            <div class="grid | justify-center"><h1 class="text-[25px] xs:text-[35px] sm:text-[40px] md:text-[50px] xl:text-[60px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo">Scout Helper</h1></div>

            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | my-[30px] | text-[15px] | md:text-[18px]">
                <p class=""><span class="font-bold text-green-700">Scout Helper</span> to aplikacja stworzona z myślą o harcerzach i harcerkach
                    na całym świecie. Pomaga ona w nauce wiedzy praktycznej i teoretycznej
                    o harcerstwie i przetrwaniu.
                </p>
            </div>

            <img src="../src/separator1.svg" alt="">
            <img src="../src/separator2.svg" alt="">
            
            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[30px] md:mt-[60px]">
                <h1 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Wiedza Teoretyczna</h1>
                <p class="text-[15px] | md:text-[18px]">Nauka wiedzy teoretycznej to symbolika i historia. Harcerze i Harcerki będą
                    miały możliwość aby nauczyć sie wszelkich wydarzeń, symbolik i ważnych postaci
                    dla ruchu harcerskiego. Wszyskie informacjie i quizy są w jednym miejscu aby
                    ułatwić nauke i wyeliminować wszelkie możliwości na rozproszenie ucznia.
                </p>
            </div>

            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
                <h1 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Wiedza Praktyczna</h1>
                <p class="text-[15px] | md:text-[18px]">Wiedza praktyczna to umiejętności które harcerz będzie mógł wykorzystać w terenie, 
                    jak i w mieście oraz w lesie. Umiejętności te sięgają od znaków patrolowych po efektywne
                    budowanie ogniska. Wiedza praktyczna kluczowa do bycia w harcerstwie poniewarz uczy on 
                    przetrwania i zaradności. Lecz ważne jest aby nie zapomnieć o zasadach BHP aby nikomu nie
                    stała sie krzywda.
                </p>
            </div>

            <img src="../src/separator1.svg" alt="">
            <img src="../src/separator2.svg" alt="">

        </div>
    </div>
{% endblock %}