{% extends 'base.html' %}

{% block head %}
    <title>Scout Helper</title>
{% endblock %}

{% block body %}
    <div class="grid | justify-center">  <!-- wrapper -->
        <div class="bg-lime-100 | w-[80vw] md:w-[60vw] lg:w-[55vw] xl:w-[50vw] | pb-[50px] md:pb-[100px]">
            <img src="../src/separator2.svg" alt="">
            <div class="grid | justify-center"><h1 class="text-[25px] xs:text-[35px] sm:text-[40px] md:text-[50px] xl:text-[60px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo">Scout Helper</h1></div>

            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | my-[30px] | text-[15px] | md:text-[18px]">
                <p class=""><span class="font-bold text-green-700">Scout Helper</span> to aplikacja stworzona z myślą o harcerzach i harcerkach
                    na całym świecie. Pomaga ona w nauce wiedzy praktycznej i teoretycznej
                    o harcerstwie i przetrwaniu.
                </p>
            </div>
            
            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[30px] md:mt-[60px]">
                <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Wiedza Teoretyczna</h4>
                <p class="text-[15px] | md:text-[18px]">Nauka wiedzy teoretycznej to symbolika i historia. Harcerze i harcerki będą mieli możliwość 
                    nauczenia się wszelkich wydarzeń, symboliki i ważnych postaci związanych z ruchem harcerskim. 
                    Wszystkie informacje i quizy znajdują się w jednym miejscu, aby ułatwić naukę i wyeliminować 
                    wszelkie możliwości rozproszenia ucznia.
                </p>
            </div>

            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
                <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Wiedza Praktyczna</h4>
                <p class="text-[15px] | md:text-[18px]">Wiedza praktyczna to umiejętności, które harcerz będzie mógł wykorzystać zarówno w mieście oraz lesie. 
                    Umiejętności te sięgają od znaków patrolowych po efektywne budowanie 
                    ogniska. Wiedza praktyczna jest kluczowa dla bycia w harcerstwie, ponieważ uczy ona przetrwania 
                    i zaradności. Jednak ważne jest, aby nie zapominać o zasadach BHP, aby nikomu nie stała się krzywda.
                </p>
            </div>

            <img src="../src/separator1.svg" alt="">
            <img src="../src/separator2.svg" alt="">

            <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[20px] md:mt-[50px] | mb-[30px] sm:mb-[50px]" id="target-scroll">
                <div class="grid | justify-center"><h1 class="text-[25px] xs:text-[35px] sm:text-[40px] md:text-[50px] xl:text-[60px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo">O Nas</h1></div>

                <h4 class="font-caprasimo | text-[18px] md:text-[30px] | mt-[50px] | text-green-700">Misja</h4>
                <p class="text-[15px] | md:text-[18px]">Firma Scout Helper została stworzona, aby rozpowszechniać harcerstwo oraz jego wiedzę i wartości. 
                    Wierzymy, że dzięki naszemu wsparciu więcej osób dołączy do szeregów harcerstwa oraz dowie się więcej 
                    na temat tej wspaniałej wspólnoty.
                </p>

                <h4 class="font-caprasimo | text-[18px] md:text-[30px] | mt-[50px] md:mt-[100px] | text-green-700">Historia</h4>
                <p class="text-[15px] | md:text-[18px]">Początki Scout Helper zaczęły sie z pewnym nadprzeciętnym człowiekiem. Stworzył on pierwszą wersje
                    Scout Helper aby dołączyć do drużyny wędrowniczej. Kiedy został zaakceptowany zadecydował że zacznie 
                    kontynuować prace nad swoim projektem. Po miesiącach pracy skończył on i upublicznił strone Scout Helper.
                    Jego imię to Leon Stepczyński, a pasją było programowanie. nieprzekonywał go zwykły sposób nauki więc zadecydował
                    zmienić to na zawszę poprzez łączenie jego pasji wraz z harcerstwem.
                </p>

                <h4 class="font-caprasimo | text-[18px] md:text-[30px] | mt-[50px] md:mt-[100px] | text-green-700">Grupa Docelowa</h4>
                <p class="text-[15px] | md:text-[18px]">Bez względu na wiek czy doświadczenie, nasza interaktywna strona dostarcza wiedzy i narzędzi do zgłębiania 
                    tajemnic harcerskiego świata w sposób przystępny i angażujący. Dzięki poradnikom i quizom rozwijaj umiejętności, 
                    wiedze, oraz wartościowe cechy charakteru, takie jak przywództwo i współpraca.
                </p>

                <h4 class="font-caprasimo | text-[18px] md:text-[30px] | mt-[50px] md:mt-[100px] | text-green-700">Sukcesy</h4>
                <p class="text-[15px] | md:text-[18px]">Mimo młodego wieku, firma Scout Helper osiągnęła wiele rzeczy. Między innymi Scout Helper jest oficialnym
                    partnerem ZHP i aktywnie pomaga w rekrutacji i edukacji nowych harcerzy. Dodatkowo poprzez wspaniałą przejrzystość
                    oraz łatwość w nauce firmie Scout Helper przyznano nagrode edukacyjną, która jest rozpoznawalna na całym świecie.
                </p>
            </div>

        </div>
    </div>
{% endblock %}