{% extends 'base.html' %}

{% block head %}
<title>Quiz Krzyz Harcerski</title>
{% endblock %}

{% block body %}
<div class="grid | justify-center"> <!-- wrapper -->
    <div class=" bg-lime-100 | w-[80vw] md:w-[60vw] lg:w-[55vw] xl:w-[50vw] | pb-[50px] md:pb-[100px]">
        <div class="grid | justify-center | mt-[30px] sm:mt-[50px] md:mt-[80px]">
            <h1 class="text-[30px] xs:text-[40px] sm:text-[45px] md:text-[55px] xl:text-[65px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo | text-center">Krzyz Harcerski</h1>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Historia</h4>
            <p class="text-[18px] | md:text-[22px]">Historia krzyża harcerskiego sięga głęboko w historię ruchu skautowego i harcerskiego. 
                Krzyż harcerski, znany również jako krzyż skautowy, jest jednym z najważniejszych symboli 
                harcerstwa na całym świecie. Jego historia ma swoje korzenie w wizji założyciela skautingu, 
                Roberta Baden-Powella. W roku 1910 Robert Baden-Powell opublikował pierwszą książkę o skautingu, 
                zatytułowaną "Scouting for Boys". W niej wyjaśnił znaczenie krzyża 
                harcerskiego jako symbolu zasad, na których opiera się skauting: służby bliźniemu, patriotyzmu, 
                poszanowania dla przyrody i samodoskonalenia. Podczas pierwszego międzynarodowego obozu skautowego 
                w Londynie w 1920 roku, przywódcy skautów z różnych krajów zdecydowali, że krzyż harcerski będzie 
                jednym z powszechnych symboli ruchu skautowego na całym świecie. Krzyż stał się reprezentatywnym 
                znakiem harcerstwa, symbolizującym ideały, wartości i misję ruchu skautowego. Podczas II wojny 
                światowej krzyż harcerski stał się symbolem nadziei i oporu przeciwko okupacji. Skauci używali go 
                jako znak rozpoznawczy. Po wojnie, w 1949 roku, powstała Światowa Organizacja Harcerstwa 
                (World Organization of the Scout Movement - WOSM), która nadzoruje globalny ruch skautowy. 
                Krzyż harcerski został oficjalnie przyjęty jako jeden ze symboli WOSM.
            </p>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Symbolika</h4>
            <p class="text-[18px] | md:text-[22px]">Okrąg (krąg) to symbol doskonałości, do jakiej dąży każdy harcerz. Symbolizuje także harcerski 
                krąg, gdzie panują braterskie relacje i wszyscy są równi. Lilijka skautowa wpisana w okrąg symbolizuje 
                podążanie we właściwym kierunku (nawiązanie do kierunku północnego oznaczanego lilijką na dawnych 
                kompasach oraz do wskazującej północ igły kompasu) zgodnie z ideałami zawartymi w Prawie i Przyrzeczeniu 
                Harcerskim, na co również wskazują dwie gwiazdki na jej ramionach. Promienie rozchodzące się od lilijki 
                oznaczają, że harcerstwo stara się objąć swym oddziaływaniem szerokie kręgi społeczne, jak największą 
                liczbę dzieci i młodzieży. Wieniec z dębu i wawrzynu (liści laurowych) oznacza cele do zdobycia: siłę, 
                umiejętności, sprawność i wiedzę. Dąb symbolizuje męstwo i odwagę, a laur zwycięstwo w walce ze swoimi 
                słabościami. Ziarenka piasku, wypełniające ramiona krzyża harcerskiego, symbolizują liczną rodzinę 
                harcerską – w myśl powiedzenia „ile ziarenek piasku na plaży, ile gwiazd na niebie, tylu harcerzy na 
                świecie”. Ziarenka symbolizują także kamienie na drodze życia, perły dobrych uczynków, trudy i znoje oraz 
                radości i smutki, jakie harcerz spotyka na swojej drodze życia. Hasło „Czuwaj” – tradycyjne pozdrowienia 
                harcerskie – symbolizuje gotowość harcerzy do nieustannej służby.
            </p>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Ciekawostki</h4>
            <p class="text-[18px] | md:text-[22px]">1. Pierwszy krzyż harcerski został zaprojektowany przez księdza Kazimierza Lutosławskiego jako
                projekt na konkurs na polską odznake skautową w 1911 roku.
                <br><br>
                2. W czasie II wojny światowej krzyż harcerski był wykorzystywany jako znak rozpoznawczy ruchu oporu. Skauci 
                nosili go ukryty w odzieży lub jako broszki, aby identyfikować się jako harcerze i wzmacniać ducha współpracy.
                <br><br>
                3. Krzyż harcerski można znaleźć w różnych miejscach, nie tylko w środowisku skautowym. Wiele osób nosi naszywkę 
                z krzyżem harcerskim jako symbol swojego zaangażowania w wartości harcerskie.
            </p>
        </div>

        <img src="../src/separator1.svg" alt="">
        <img src="../src/separator2.svg" alt="">

        <div class="grid | justify-center | mt-[30px] sm:mt-[50px] md:mt-[80px]">
            <h1 class="text-[30px] xs:text-[40px] sm:text-[45px] md:text-[55px] xl:text-[65px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo | text-center">Quiz</h1>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <p class="text-[18px] | md:text-[22px] | text-center">
                Ta sekcja jest przeznaczona do przetestowania wiedzy. Powoli i uważnie odpowiedz na wszystkie pytania dotyczące 
                powyższego tekstu używając słów poniżej, niektóre słowa zostałe dodane dla utrudnienia. Na koniec kliknij "Sprawdź" 
                aby sprawdzić swoją wiedze. <br> <strong>Powodzenia!</strong>
            </p>
        </div>

        <div class="grid | justify-center | mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <p class="text-[18px] | md:text-[22px] | text-center">
                Gwiazdek | Braterstwo | Kazimierz Lutosławski | Doskonałość | Męstwo | Ziaren piasku | Odwaga | Zwycięstwo
            </p>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #1</h4>
            <p class="text-[18px] | md:text-[22px]">Nazwa organizacji zrzeszającej harcerzy na całym świecie.
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #2</h4>
            <p class="text-[18px] | md:text-[22px]">Co symbolizuje okrąg w krzyżu harcerkim?
            </p>
            <div class="mt-[10px] sm:mt-[20px] | flex | flex-wrap">
                <p class="text-[18px] | md:text-[22px] | mr-4">Okrąg symboliuje:</p>
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #3</h4>
            <p class="text-[18px] | md:text-[22px]">W jakiej formie prawo i przyrzeczenie harcerskie jest reprezentowane na krzyżu harcerskim?
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <p class="text-[18px] | md:text-[22px] | mr-4">Są reprezentowane w formie:</p>
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #4</h4>
            <p class="text-[18px] | md:text-[22px]">Jakie wartości symbolizuje dąb w krzyżu harcerskim?
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <p class="text-[18px] | md:text-[22px] | mr-4">Symbolizuje on:</p>
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #5</h4>
            <p class="text-[18px] | md:text-[22px]">Kto zaprojektował pierwszy krzyż harcerski?
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <p class="text-[18px] | md:text-[22px] | mr-4">Zaprojektował go:</p>
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[250px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="grid | justify-center | mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[25px] md:mt-[50px] | mb-[15px] sm:mb-[25px]">
            <h4 id="scoreLabel"  class="text-[50px] sm:text-[70px] md:text-[90px] lg:text-[110px] | text-lime-700 | font-caprasimo"></h4>
        </div>

        <div class="grid | xs:flex | justify-center | gap-x-5 | gap-y-5 | md:gap-x-10 | mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <button id="checkBtn"  class="px-[15px] | py-[10px] | bg-lime-300 | border-[4px] | border-lime-700 | rounded-full | font-bold | text-lime-700 | text-[20px]">Sprawdź</button>
            <button id="answerBtn"  class="px-[15px] | py-[10px] | bg-lime-300 | border-[4px] | border-lime-700 | rounded-full | font-bold | text-lime-700 | text-[20px]">Odpowiedzi</button>
        </div>
            

    </div>
</div>

<script src="..\src\js\quiz_krzyz.js"></script>
{% endblock %}