{% extends 'base.html' %}

{% block head %}
<title>Kodeks i Dewiza Wędrownicza</title>
{% endblock %}

{% block body %}
<div class="grid | justify-center"> <!-- wrapper -->
    <div class=" bg-lime-100 | w-[80vw] md:w-[60vw] lg:w-[55vw] xl:w-[50vw] | pb-[50px] md:pb-[100px]">
        <div class="grid | justify-center | mt-[30px] sm:mt-[50px] md:mt-[80px]">
            <h1 class="text-[30px] xs:text-[40px] sm:text-[45px] md:text-[55px] xl:text-[65px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo | text-center">Kodeks i Dewiza Wędrownicza</h1>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <p class="text-[18px] | md:text-[22px]"> <strong>Dewiza wędrownicza:</strong> <br> "Wyjdź w Świat, zobacz, pomyśl, pomóż – czyli Działaj!".
                <br> <br>
                <strong>Kodeks wędrowniczy:</strong> <br>
                "Być wędrownikiem to niemała sztuka, a dostępna tylko dla tych, którzy posiadają prawdziwie harcerską postawę. 
                Wędrownikowi nie wystarcza znajomość miejsca zamieszkania, wędrownika ciekawi świat, wędrownik, patrząc w swą 
                przyszłość, pragnie odnaleźć własną ścieżkę. Wędrowanie to znacznie więcej niż przemierzanie kilometrów czy 
                wytrwałość fizyczna. To sztuka wchłaniania życia, które nas otacza, to oczy i uszy otwarte, to tajemnica 
                współodczuwania przyrody i człowieka. Wędrówką nie będzie przyspieszony tupot nóg, nadmiar krzykliwego humoru, 
                lecz właśnie cisza wśród ciszy lasu, skupienie wobec wschodów czy zachodów słońca. To wyczucie wędrownik łatwo 
                odszuka w sobie. Wędrownik - jest zawsze gotów nieść pomoc. Wędrownik - jest przyjacielem całego świata. 
                Wędrownika ciągnie siła nieprzeparta w dal na coraz to nowe, nieznane szlaki, nie pozwala zastygnąć mu w wygodnym, 
                osiadłym życiu, toczącym się zbyt wolno. Wędrownik - spostrzega urok życia wszędzie, gdziekolwiek się znajdzie, 
                gdyż odkrywa to, czego inni w pozornej monotonii codziennych dni dopatrzyć się nie umieją. Wędrownik zna radość 
                trudnych zwycięstw, urok przyrody, piękno zdobywania samotnie niewydeptanych ścieżek. Wędrownik - stale uprawia 
                wędrówki, wędruje w zimie, w lecie, na wsi, w mieście, tropi miejsca, gdzie może być pożyteczny. Drogę jego 
                wędrówki wyznaczają wartości zawarte w Prawie i Przyrzeczeniu Harcerskim." 
                <br> <br>
                Wędrownicy to grupa metodyczna w organizacjach harcerskich, która skupia młodzież ponadgimnazjalną i 
                starszą. Ich działanie opiera się na metodzie harcerskiej, Prawie Harcerskim, Kodeksie Wędrowniczym 
                oraz właśnie na Dewizie i Kodeksie Wędrowniczym. Głównym celem wędrownictwa jest przygotowanie harcerzy do 
                wkroczenia w dorosłe życie poza strukturami harcerskimi lub do pełnienia funkcji wychowawczych jako 
                instruktorzy.
            </p>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Znaczenie</h4>
            <p class="text-[18px] | md:text-[22px]">Dewiza wędrownicza odzwierciedla główną ideę wędrownictwa i jest drogowskazem dla wędrowników w ich codziennym życiu.

                <strong>"Wyjdź w Świat":</strong> Zachęca do otwarcia się na nowe doświadczenia, poznawania różnych kultur, miejsc i ludzi. Wędrownicy są zachęcani do opuszczenia swojej strefy komfortu i odkrywania świata wokół nich.
                
                <strong>"Zobacz":</strong> Oznacza bycie obserwatorem, zrozumienie otaczającego nas świata, dostrzeganie detali, które mogą umknąć innym. Wędrownicy uczą się patrzeć na świat z ciekawością i otwartością.
                
                <strong>"Pomyśl":</strong> Podkreśla znaczenie refleksji i krytycznego myślenia. Wędrownicy są zachęcani do analizowania tego, co widzą, formułowania własnych opinii i podejmowania świadomych decyzji.
                
                <strong>"Pomóż":</strong> Wskazuje na ważność służby i pomocy innym. Wędrownicy są zachęcani do aktywnego uczestnictwa w społecznościach, w których się znajdują, i do podejmowania działań, które przynoszą korzyści innym.
                
                <strong>"Działaj!":</strong> Jest końcowym wezwaniem do działania. Wędrownicy nie są tylko biernymi obserwatorami; są zachęcani do aktywnego uczestnictwa w życiu, podejmowania inicjatyw i wprowadzania zmian tam, gdzie są potrzebne.
                
                W skrócie, dewiza wędrownicza podkreśla znaczenie bycia aktywnym, świadomym i pomocnym członkiem społeczności. Zachęca do ciągłego uczenia się, rozwijania się i dawania z siebie w służbie innym.
                <br> <br>
                Natomiast Kodeks Wędrowniczy to zbiór zasad etycznych, moralnych i honorowych, którymi mają się kierować wędrownicy w Związku Harcerstwa Polskiego. Jego znaczenie można podsumować w następujący sposób:

                <strong>Definicja Wędrownika:</strong> Kodeks podkreśla, że bycie wędrownikiem to nie tylko przynależność do pewnej grupy wiekowej w harcerstwie, ale przede wszystkim pewna postawa życiowa. Wędrownik to osoba ciekawa świata, otwarta na nowe doświadczenia, gotowa do poznawania i eksploracji.

                <strong>Relacja z Otoczeniem:</strong> Kodeks zwraca uwagę na to, jak wędrownik powinien postrzegać i oddziaływać na świat wokół siebie. Wędrownik ma być uważnym obserwatorem, doceniać piękno przyrody, być wrażliwym na potrzeby innych i gotowym do niesienia pomocy.

                <strong>Osobisty Rozwój:</strong> Kodeks podkreśla znaczenie ciągłego doskonalenia się, zarówno fizycznego, intelektualnego, jak i duchowego. Wędrownik ma dążyć do poznania, rozwijania swoich pasji i zdobywania nowych umiejętności.

                <strong>Służba:</strong> Jednym z kluczowych aspektów kodeksu jest służba. Wędrownik ma być zawsze gotów nieść pomoc, służyć ludziom i społeczności, w której żyje. Służba jest uważana za źródło największego szczęścia w życiu wędrownika.

                <strong>Dążenie do Doskonałości:</strong> Kodeks zachęca wędrowników do ciągłego dążenia do doskonałości, nie tylko w działaniach, ale także w postawie i charakterze.

                <strong>Znaczenie Wędrówki:</strong> Wędrowanie nie jest rozumiane tylko jako fizyczne przemieszczanie się z miejsca na miejsce, ale przede wszystkim jako duchowa i intelektualna podróż, poszukiwanie swojego miejsca w świecie, odkrywanie nowych horyzontów i zdobywanie nowych doświadczeń.
            </p>
        </div>

        <img src="../src/separator1.svg" alt="">
        <img src="../src/separator2.svg" alt="">

        <div class="grid | justify-center | mt-[30px] sm:mt-[50px] md:mt-[80px]">
            <h1 class="text-[30px] xs:text-[40px] sm:text-[45px] md:text-[55px] xl:text-[65px] | mt-[10px] xs:-[20px] | text-lime-700 | font-caprasimo | text-center">Quiz</h1>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <p class="text-[18px] | md:text-[22px] | text-center">
                Ta sekcja jest przeznaczona do przetestowania wiedzy. Powoli i uważnie odpowiedz na wszystkie pytania dotyczące 
                powyższego tekstu używając słów poniżej, niektóre słowa zostałe dodane dla utrudnienia. Na koniec kliknij "Sprawdź" 
                aby sprawdzić swoją wiedze. <br> <strong>Powodzenia!</strong>
            </p>
        </div>

        <div class="grid | justify-center | mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <p class="text-[18px] | md:text-[22px] | text-center">
                Duchowa | nieskazitelność | Życiu | inspiaracja | ojczyzna | Zobacz | Drogowskazem | Biernymi | Kodeks Wędrowniczy | Horyzontów
            </p>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #1</h4>
            <p class="text-[18px] | md:text-[22px]">Dewiza wędrownicza odzwierciedla główną ideę wędrownictwa i jest ______ dla wędrowników w ich codziennym życiu.
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #2</h4>
            <p class="text-[18px] | md:text-[22px]">"______" oznacza bycie obserwatorem, zrozumienie otaczającego nas świata, dostrzeganie detali, które mogą umknąć innym.
            </p>
            <div class="mt-[10px] sm:mt-[20px] | flex | flex-wrap">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #3</h4>
            <p class="text-[18px] | md:text-[22px]">"Działaj!": Jest końcowym wezwaniem do działania. Wędrownicy nie są tylko ______ obserwatorami; są zachęcani do aktywnego 
                uczestnictwa w ______, podejmowania inicjatyw i wprowadzania zmian tam, gdzie są potrzebne.
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #4</h4>
            <p class="text-[18px] | md:text-[22px]">Jak nazywa się zbiór zasad etycznych, moralnych i honorowych, którymi mają się kierować wędrownicy?
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <p class="text-[18px] | md:text-[22px] | mr-4">Jest to:</p>
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <h4 class="font-caprasimo | text-[18px] md:text-[30px] | text-green-700">Pytanie #5</h4>
            <p class="text-[18px] | md:text-[22px]">Znaczenie Wędrówki: Wędrowanie nie jest rozumiane tylko jako fizyczne przemieszczanie się z miejsca na miejsce, 
                ale przede wszystkim jako ______ i intelektualna podróż, poszukiwanie swojego miejsca w świecie, odkrywanie nowych 
                ______ i zdobywanie nowych doświadczeń.
            </p>
            <div class="flex | flex-wrap | mt-[10px] sm:mt-[20px]">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
                <input class="border-[3px] | border-gray-500 | rounded-[10px] | w-[200px] | sm:text-[20px]" type="text">
            </div>
        </div>

        <div class="grid | justify-center | mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[25px] md:mt-[50px] | mb-[15px] sm:mb-[25px]">
            <h4 id="scoreLabel"  class="text-[50px] sm:text-[70px] md:text-[90px] lg:text-[110px] | text-lime-700 | font-caprasimo"></h4>
        </div>

        <div class="grid | xs:flex | justify-center | gap-x-5 | gap-y-5 | md:gap-x-10 | mx-[20px] sm:mx-[40px] md:mx-[60px] lg:mx-[100px] xl:mx-[150px] | mt-[50px] md:mt-[100px] | mb-[30px] sm:mb-[50px]">
            <button id="checkBtn"  class="px-[15px] | py-[10px] | bg-lime-300 | border-[4px] | border-lime-700 | rounded-full | font-bold | text-lime-700 | text-[20px]">Sprawdź</button>
            <button id="answerBtn"  class="px-[15px] | py-[10px] | bg-lime-300 | border-[4px] | border-lime-700 | rounded-full | font-bold | text-lime-700 | text-[20px]">Odpowiedzi</button>
        </div>
            

    </div>
</div>

<script src="..\src\js\quiz_kodeks_dewiza.js"></script>
{% endblock %}